@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #6c63ff;
  }

body {
    background: white;
    margin: 0;
    font-family: 'Poppins';
  }
  
  .navbar {
    background: white;
    padding: 1em;
    
  
  }
  
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
  }
  
  .navbar .logo span {
    color: var(--primary-color);
  }
  
  .navbar nav {
    display: none;
  }
  
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  
  .navbar .mobile-menu {
    cursor: pointer;
  }
  
  a {
      color: #444444;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    section {
      padding: 5em 2em;
    }
    
    
    nav.menu-btn {
      display: block;
    }
    
    nav {
      position: fixed;
      z-index: 999;
      width: 66%;
      right: 0;
      top: 0;
      background: #20272e;
      height: 100vh;
      padding: 1em;
    }
    
    nav ul.primary-nav {
      margin-top: 5em;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: .5em;
      font-size: 1.3em;
      text-align: right;
    }
    
    nav li a:hover {
      font-weight: bold;
      transition: all 400ms ease;
    }
    
    .mobile-menu-exit {
      float: right;
      margin: .5em;
      cursor: pointer;
    }

    /*=====================login=========================*/


    .container__primary {
    --color-primary: #f75842;
    --color-primary-dark: #e74731;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Poppins';
    background: #2e3267;
    
}

.container__account {
    width: 400px auto;
    max-width: 400px;
    margin: 4rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background-color: white;
}
.container__account h1{
    color:var(--primary-color);
}


.container__account,
.form__input,
.form__button {
    font: 400 1rem 'Poppins';
}

.form--hidden {
display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem ;
}

.form__message--success {
    color: var(--color-success);
}
.form__message--error {
    color: var(--color-error);
}

.form__input-group {
margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
    transition: 100ms;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}


@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
      display: none;
    }
    .navbar .container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 180px auto;
          grid-template-columns: 180px auto;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
    }
    .navbar nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: .1em 1em;
    }
    .navbar nav ul.primary-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
    .navbar nav li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -.2em;
    }
    .navbar nav li.go-premium-cta a:hover {
      background: var(--primary-color);
      color: white;
    }
  }


  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0 auto;
    }
    section {
      padding: 10em 4em;
    }
}
