@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #6c63ff;
}

/*===========================    for desktop  ==================================*/
     
.contact__container{
    background:#007AF3 ;
    padding: 3rem;
    grid-template-columns: 40% 60%;
    gap: 3rem;
    height: 35rem;
    margin:auto;
    border-radius: 1rem;
     }

     .contact__aside {
     background-color: #006bd6;
     position: relative;
         padding: 0;
         border-radius: 1rem;
         bottom: 10.5rem;
         height: 10rem ;
         width: 15em auto;
   

     }
     .aside__image {
         display: none;
         }

     .contact__aside h2 {
         margin-top: 10em;
         font-size: 17px;
         text-align: center;
         bottom: 0;
         color: white;
       }

       .contact__aside p {
           font-size: 10px;
           margin-left: 1em;
           text-align: left;
           color: white;
          
       }
 
       .contact__details li {
           display: flex;
           margin-left: 1em ;
           color:white ;
           font-size: 10px;
           height: 2em;
           
         }

         
      

    .contact__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-right: 0rem;
       position: relative;
        bottom: 7em;
       
    }

    .form__name {
        display: flex;
        position: relative;
        gap: 1.2rem;
        width:100% ;
    }

    .contact__form input[type="text"] {
        width: 50%;
    }
    input,
    textarea {
        padding: 1rem;
        background: #ffffff ;
        color: black;
    }

     .contact__form .btn {
            background: #f75842 ;
            color: white;
            font-weight: bold;
            font-size: 1em;
            border: none;
            margin-top: 1em;
            border-radius: 3em;
            display: inline-block;
            padding: .6em 1em;
            width: max-content;
            cursor: pointer;
          }
        


    
  
  
/*====================      end   desktop ========================================*/
    


body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
  

}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
    color: #444444;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 5em 2em;
  }
  
  
  nav.menu-btn {
    display: block;
  }
  
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;
  }
  
  nav ul.primary-nav {
    margin-top: 5em;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
  }
  
  nav li a:hover {
    font-weight: bold;
    transition: all 400ms ease;
  }
  
  .mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
  }




  @media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
      display: none;
    }
    .navbar .container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 180px auto;
          grid-template-columns: 180px auto;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset;
    }
    .navbar nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
    }
    .navbar nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .navbar nav a {
      color: black;
      font-size: 1em;
      padding: .1em 1em;
    }
    .navbar nav ul.primary-nav {
      margin: 0;
    }
    .navbar nav li.current a {
      font-weight: bold;
    }
    .navbar nav li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -.2em;
    }
    .navbar nav li.go-premium-cta a:hover {
      background: var(--primary-color);
      color: white;
    }

    /*====================      contact for tab      =====================*/

    .contact__container{
      background:#2e3267 ;
      padding: 4rem;
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 4rem;
      height: 30rem;
      margin: 7rem auto;
      border-radius: 1rem;
       }
  
       .contact__aside {
       background-color: #6c63ff;
           border-radius: 1rem;
           position: relative;
           bottom: 1.4rem;
           height: 33rem;
       }
       .aside__image {
           display: block;
           position: relative;
           right: 9rem;
           bottom: 8em;
  
       }
  
       .contact__aside h2 {
           font-size: 25px;
           position: relative;
           text-align: left;
           bottom: 7em;
           color: white;
           margin-left: 1em;
           bottom: 21em;
         }
  
         .contact__aside p {
             font-size: 10px;
             position: relative;
             text-align: left;
             color: white;
             bottom: 54em;
             margin-left: 1em;
         }
   
         .contact__details li {
             position: relative;
             display: flex;
             color:white ;
             font-size: 10px;
             bottom: 55em;
             height: 2em;
             margin-left: 1em;
           }
           
  
      .contact__form {
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          margin-right: 4rem;
          margin-top: 12rem;
          margin-left: 5.2rem;
      }
  
      .form__name {
          display: flex;
          gap: 1.2rem;
          width: 100%;
      }
  
      .contact__form input[type="text"] {
          width: 50%;
      }
      input,
      textarea {
          padding: 1rem;
          background: #ffffff ;
          color: black;
      }
  
       .contact__form .btn {
              background: #f75842 ;
              color: white;
              font-weight: bold;
              font-size: .8em;
              border: none;
              margin-top: 1em;
              border-radius: 3em;
              display: inline-block;
              padding: .6em 1em;
              width: max-content;
              cursor: pointer;
          
            }
    

  }


  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0 auto;
    }
    section {
      padding: 10em 0;
    }
    /*===========================    for desktop  ==================================*/
.contact__container{
    background:#2e3267 ;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
     }

     .contact__aside {
     background-color: #6c63ff;
         padding: 3rem;
         border-radius: 1rem;
         position: relative;
         bottom: 10rem;
         height: 43rem;
     }
     .aside__image {
         display: block;
position: relative;
right: 8.3em;
bottom: 8.5em;

     }

     .contact__aside h2 {
         font-size: 40px;
         position: relative;
         text-align: left;
         bottom: 7em;
         color: white;
         bottom: 16.5em;
       }

       .contact__aside p {
           font-size: 15px;
           position: relative;
           text-align: left;
           color: white;
           bottom: 46em;
           margin-left: -0.1em;
       }
 
       .contact__details li {
           position: relative;
           display: flex;
           color:white ;
           font-size: 15px;
           bottom: 47em;
           height: 2em;
           margin-left: -0.1em;
         }
         

    .contact__form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-right: 4rem;
    }

    .form__name {
        display: flex;
        gap: 1.2rem;
        width: 100%;
    }

    .contact__form input[type="text"] {
        width: 50%;
    }
    input,
    textarea {
      
        padding: 1rem;
        background: #ffffff ;
        color: black;
    }

     .contact__form .btn {
            background: #f75842 ;
            color: white;
            font-weight: bold;
            font-size: 1.3em;
            border: none;
            margin-top: 1em;
            border-radius: 3em;
            display: inline-block;
            padding: .6em 1em;
            width: max-content;
            cursor: pointer;
        
          }

    
  
  
/*====================      end   desktop ========================================*/
    

}

