:root {
	--primary-color: #6c63ff;
    --color-light: rgba(132, 139, 200, 0.18);
	
    --box-shadow: 0 2rem 3rem var(--color-light);
  }

body{
	background-color: #F6F6F9;
}
.form{
	height: 1210px;
	border-radius: 5px;
	width: 680px;
	margin: auto auto 150px auto;
	background-color: #F6F6F9;
}
.required{
font-size: 13px;
color: red;
}

h1 {
font-weight: bold;
color: rgb(99, 99, 99);
letter-spacing: .3em;
font-size: 20px;
}

.title-div{
	height: 150px;
	width: 600px;
	background-color: #FDFEFE;
	margin: 15px;
	border-radius: 5px;
	border-top: 10px solid var(--primary-color);
	padding: 25px;
	box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.title-div:hover {
	box-shadow: none;
}

.form-div {
	height: 150px;
	width: 650px;
	background-color: white;
	margin: 15px;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.form-div:hover {
	box-shadow: none;
}

.name{
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 25px;
	font-size: 15px;
}
.input-div{
	padding-top: 25px;
	padding-left: 25px;
}
.input-div input{
	width: 300px;
	border: 0;
	outline: 0;
	border-bottom: 1.5px solid #DCD7D7;
	font-size: 15px;
}

.form-btn:hover {
	background: #564fdf;
}

.form-btn:active {
    transform: scale(0.98);
}

.never{
	padding-bottom: 10px;
	padding-left: 15px;
	font-size: 13px;
	font-weight: 400;
	color: black;
}
/*--------------------------------------FOR MOBILE------------------------------------------*/
@media only screen and (max-width: 768px) {
	.form{
		border-radius: 5px;
		width: auto;
		margin: 0 0 150px 0;
	}

	.title-div{
		width: auto;
	}

	.form-div {
		width: auto;
	}
}
