@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #6c63ff;
  --color-light: rgba(132, 139, 200, 0.18);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
  background: #f6f6f9;
  margin: 0;
  font-family: 'Poppins';
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col .tag {
  font-weight: 400;
  color: var(--primary-color);
  font-size: .8em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: #20272e;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  background: #564fdf;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 0px solid #564fdf;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-top: 1em;
  margin-left: 1rem;
  border-radius: 5em;
  padding: .6em 1em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.call-to-action {
  font-size: 0.88rem;
  background: #F6F6F9;
}

.call-to-action h2 {
  font-weight: 800px;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.call-to-action h3 {
  font-size: 0.87rem;
}

.call-to-action .insights {
  display: block;
  padding: 2rem;
}

.call-to-action .insights > div {
  background: white;
  padding: 1.8rem;
  border-radius: 2rem;
  margin-top: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.call-to-action .insights > div:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.call-to-action .insights > div span {
  background: var(--primary-color);
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.call-to-action .insights > div .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-to-action .insights .btn {
  color: var(--primary-color);
  text-decoration: none;
  border: 3px solid var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 1em;
  border-radius: 3em;
  display: inline-block;
  cursor: pointer;
}

.call-to-action .insights .btn:hover {
  background: var(--primary-color);
  color: white;
}

.call-to-action .insights .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.call-to-action .never {
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-align: center;
}

/*===========================================  FOOTER  ===============================================*/
footer {
  color: white;
  background: var(--primary-color);
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer__container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  gap: 2rem;
}

.footer__1 p {
  margin: 1rem auto;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 0.7em;
    padding: .1em 1em;
    margin-top: 0.5em;
    margin-left: 1.5rem;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav .go-premium-cta {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    font-size: 0.7em;
    border-radius: 5rem;
    margin-top: 3.2px;
    margin-left: 1rem;
  }
  .navbar nav .go-premium-cta:hover {
    background: var(--primary-color);
    color: white;
  }
  .call-to-action .insights {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .call-to-action h2 {
    padding-top: 1.5rem;
  }
  .call-to-action .insights > div span {
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .footer__container > div h4 {
    margin-bottom: 1.2rem;
  }
  .footer__1 p {
    margin: 2rem;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: -17.9em;
    width: 1050px;
    bottom: -20.41em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .call-to-action .insights {
    padding: 0 8.1rem 5rem;
    margin-bottom: 0;
  }
  .call-to-action .insights > div span {
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .call-to-action .never {
    text-align: left;
    margin-top: -2.8rem;
    margin-left: 8.1rem;
  }
  footer {
    color: white;
    background: var(--primary-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
  .footer__container > div h4 {
    margin-bottom: 1.2rem;
  }
  .footer__1 p {
    margin: 0 0 2rem;
  }
  footer ul li {
    margin-bottom: 0.7rem;
  }
  footer ul li a:hover {
    text-decoration: underline;
  }
  .footer__copyright {
    text-align: center;
    margin-top: 2rem;
    padding: 1.2rem 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
  footer {
    color: white;
    background: var(--primary-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
  .footer__container > div h4 {
    margin-bottom: 1.2rem;
  }
  .footer__1 p {
    margin: 0 0 2rem;
  }
  footer ul li {
    margin-bottom: 0.7rem;
  }
  footer ul li a:hover {
    text-decoration: underline;
  }
  .footer__copyright {
    text-align: center;
    margin-top: 2rem;
    padding: 1.2rem 0;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */